{% extends 'base.html' %}

{% block title %}
    Home | {{ block.super }}
{% endblock title %}

{% block container %}
    <div class="jumbotron page-header">
        <h2 class="text-info text-center">Catalogo RESGD - Catalogo de Reparos & Serviços Gerais Domésticos</h2>
        <br>
        <p>Site contem um catalogo com perfis de profissionais com experiencia na área de serviços voltados a construções e reparos de casas.</p>
        <p><a class="btn btn-primary btn-lg text-center" href="{% url 'sobre' %}">saiba mais...</a></p>
    </div>
{% endblock container %}