{% extends 'base.html' %}

{% block title %}
    Sobre | {{ block.super }}
{% endblock title %}

{% block container %}
    <div class="jumbotron page-header">
        <h2> Sobre: </h2>
        <hr>
        <br>
        <p class="text-justify">Projeto de conclusão de curso.</p>
        <p class="text-info">O site contem um catalogo com perfis de profissionais com experiencia na área de serviços voltados para construções e reparos de casas.</p>
        <p><a href="https://github.com/diogogomes079/projeto_mono"> Código do GitHub</a> </p>
        <p class="text-warning">observação 1: os dados nesse site são apenas fictícios</h4>
        <p class="text-warning">observação 2: site ainda em construção</p>
    </div>
{% endblock container %}